
.container {
	width: 80%;
	margin: 0 auto;
}

.searchBar {
	display: flex;
	height: 65px;
	gap: 30px;
	margin-bottom: 30px;
	align-items: center;	
}

.searchBar input,
.searchBar select {
	font-size: 18px;
	border: 2.1px solid #5dc1d0 ;
	border-radius: 0.5rem;
}
.searchBar label{
	display: flex;
	min-width: 150px;
	gap: 5px;
}

.searchBar label > input{
	width: 25px;
	height: 25px;
	margin: 0;
}

.searchBar input:hover{
	border-color: rgb(158, 223, 247);
}

.table-container {
	border: 2px solid rgb(158, 223, 247);
	border-radius: 0.5rem;
	max-height: 50vh;
	overflow-y:auto;
	scrollbar-width: none;
}

.user {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}

.user th,
.user td {
	padding: 10px;
	text-align: left;
}

.user th {
	background-color: rgb(85, 85, 202);
	font-weight: bold;
	border-bottom: 2px solid rgb(158, 223, 247);
}

.user tr:hover {
	background-color: #ccecf0;
	color: rgb(101, 42, 42);
}

.highlight {
	background-color: #c8e1eb;
	color: black;
}